@font-face {
    font-family: 'Titulos';
    src: url('/Users/nahuelgutierrez/Desktop/Proyectos/Harry Potter/hp/src/fonts/titulos/titulos.TTF') format('truetype');  
}

@font-face{
    font-family: 'Subtitulos';
    src: url('/Users/nahuelgutierrez/Desktop/Proyectos/Harry Potter/hp/src/fonts/subtitulos/subtitulos.ttf') format('truetype');
}
body{
    background-color: #000;
}
.lista-hechizos{
    font-family: 'Titulos', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.lista{
    column-count: 6;
    column-gap: 20px; 
    padding: 0;
}

.item{
    margin-bottom: 10px;
    break-inside: avoid-column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hechizo{
    font-family: 'Subtitulos', sans-serif;
    font-size: 25px;
    border: 1px solid #890001;
    background-color: #9f0000;
    padding: 8px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #e1b43d;
    text-align: center;
}
.hechizo:hover{
    background-color: #d8a40e;
    border: 1px solid #e1b43d;
    color:#890001;
}
.volver-inicio{
    font-family: 'Subtitulos', sans-serif;
    font-size: 25px;
    border: 1px solid #d8a40e;
    background-color: #e1b43d;
    padding: 8px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #9f0000;
    text-align: center;
}
.volver-inicio:hover{
    background-color: #890001;
    border: 1px solid #9f0000;
    color: #d8a40e;
}
.buscar-input {
    font-family: 'Subtitulos', sans-serif;
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #d8a40e;
    background-color: #e1b43d;
    color: #9f0000;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .buscar-input:focus {
    background-color: #890001;
    border: 1px solid #9f0000;
    color: #d8a40e;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    font-family: 'Subtitulos', sans-serif;
    font-size: 18px;
    padding: 8px;
    margin: 0 5px;
    border: 1px solid #d8a40e;
    background-color: #e1b43d;
    color: #9f0000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #890001;
    border: 1px solid #9f0000;
    color: #d8a40e;
  }
  
  .pagination button.active {
    background-color: #890001;
    border: 1px solid #9f0000;
    color: #d8a40e;
  }
  